# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# VFX_Asset_Hub specific
data/
previews/
repository/
config/config.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak
.venvPy3
bin/
Ulaavi/